@font-face{
    font-family: 'averta';
    src: url('assets/averta.woff');
}

.portfolio-container {

    font-family:averta;

    display: grid;
    grid: 'header'max-content 'main-area'1fr 'footer'max-content /1fr;
    width:100%;

}

.portfolio-header {
    grid-area: header;
    max-height: 30vh;
    min-height: 350px;
    margin-left: 15px;
    margin-right: 15px;
    background: rgb(88, 165, 250);
    background: linear-gradient(180deg, rgba(88, 165, 250, 1) 0%, rgba(168, 207, 250, 1) 100%);
    box-shadow:  rgba(61, 63, 65, 0.2) 0px 4px 4px 2px;
    display:grid;
    grid: 'navbar' 90px
            'header-text' 1fr / 1fr;
    place-items: center center;
    color:white;
}

.portfolio-nav{
    display: flex;
    line-height: 50px;
    font-size: 20px;
}

.portfolio-nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    
}

.portfolio-nav a:hover{
    border-bottom: rosybrown 2px solid;
}

.portfolio-header-text-container{
    grid-area:header-text;
    width: 100%;
    height: 100%;
    place-content: center center;
    display:grid;
    font-size: 30px;
}


.portfolio-main {
    grid-area: main-area;
    height: 100%;
    margin: 15px;
}

#portfolio-projects{
    width:100%;
    height:100%;
    display:grid;
    grid: 'projects-title' 50px
            'projects-display' minmax(250px, 1fr) / 100%;

    place-items: center center;
}

.portfolio-projects-title{
    line-height: 40px;
    color:black;
    font-size:30px;
    font-weight: bold;
}

.portfolio-projects-container{
    width:100%;
    height:100%;
    display:grid;
    padding:10px;
}



.portfolio-footer {
    grid-area: footer;
    background: #55a3fa;
    min-height: 90px; 
    display:grid;
    grid-auto-flow: column;
    place-items: center center;
}

.portfolio-footer-copyright{
    line-height: 30px;
    color:white;
    font-size: 20px;
}